@model model1.Models.Carte

<h2>Editează Carte</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <label asp-for="Titlu"></label>
    <input asp-for="Titlu" />
    <span asp-validation-for="Titlu"></span><br />

    <label asp-for="ISBN"></label>
    <input asp-for="ISBN"/>
    <span asp-validation-for="ISBN"></span><br />

    <label asp-for="Gen"></label>
    <input asp-for="Gen" />
    <span asp-validation-for="Gen"></span><br />

    <label asp-for="AutorId"></label>
    <select asp-for="AutorId" asp-items="ViewBag.AutorId">
        <option value="">-- Alege Autor --</option>
    </select>
    <span asp-validation-for="AutorId"></span>
    <br /><br />

    <button type="submit">Salvează modificările</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}